<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot Default Logging -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Application specific log levels -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="de.mathema.springboot.camundaworkshop" level="INFO"/>
    <logger name="org.camunda" level="INFO"/>
    <logger name="org.camunda.bpm.engine.test" level="INFO"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>